//variables

$cta-color: #E75336;
$gray-500: #5D5C5C;
$gray-700: #333333;
$gray-900: #272727;
$gray-000: #FFFFFF;

$border-radius: 30px;
$padding: 0px 20px 0px 20px;
$gap: 24px;
$btn-gap: 8px;

$large-title-font-size: 40px;
$btn-font-size: 14px;
$default-font-size: 18px;

$default-line-height: 27px;
$title-line-height: 50px;
